*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
copyright
vcs.xml
compiler.xml
encodings.xml
misc.xml
modules.xml
runConfigurations.xml
gradle.xml
profiles_settings.xml
